

<table>
    <tr>
        <th>いままでのつぶやき</th>
    </tr>

    <% @posts.reverse_each do |post| %>
        <tr>
            <td><%= post.content %></td>
            <td><%= button_to '削除', post_path(post.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
        </tr>
<% end %>
</table>

<BR>
<%= link_to 'つぶやき入力に戻る（仮置き）', new_post_path %>


