header {
    
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    background-color: rgb(114, 134, 157);
    color: white;
    font-size: 1.5rem;
  }
  footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
        height: 5%;
	background-color: rgb(114, 134, 157);
	color: white;
	text-align: center;
}

.top_menu li {
    float: right;
    padding: 15px;
  }
  

  .logo_image {
    float: left;
    margin: 0;
  }
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }

  .top_menu li a {
    color: #fff;
    text-decoration: none;
  }